dist: xenial
sudo: false
language: cpp

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-5
      - cmake
      - build-essential
      - libglfw3-dev
      - libglew-dev
      - freeglut3-dev
      - libegl1-mesa-dev

script:
  - CXX=/usr/bin/g++-5 CC=/usr/bin/gcc-5 cmake . -D ENABLE_COVERAGE:BOOL=TRUE
  - cmake --build . -- -j2
  - ctest -j2
  - bash <(curl -s https://codecov.io/bash)